{% extends 'partials/variables.html.twig' %}

{% set module = page.header.text_left %}
{% set image = page.media[page.header.text_left.image] %}

{% block render_block %}
	<div class="paragraph text-left text-left-animation {{ module.classes }}">
		<div class="container">
			<div class="text-left-container">
				<div class="paragraph-image">
					<img class="" src="{{ image.url }}" alt="icon"/>
				</div>
				<div class="text-left-text">
					<div class="block-title">
						<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
						<p>{{ page.content|raw }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
