{% block whq_card %}
<div class="whq-card">
    <div class="whq-card-container">
        <div class="whq-card-content">
            {% block card_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock whq_card %}