#unsubscribe {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-field label{
    color: var(--color-text-dark);
  }
}

.unsubscribe-section {
  background: var(--color-white);
  padding-top: 115px;

  @include desktop-small{
    padding-top: 100px;
  }


  .unsubscribe {
    box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.04), 0px 4px 16px 0px rgba(51, 51, 51, 0.08) !important;
    background: var(--color-white);
    border-radius: 18px !important;
    margin-bottom: 115px !important;
    margin-top: 0;
    padding: 44px !important;

    @include mobile {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
    }

    .unsubscribe-title {
      @include typography(display-xs, semibold);
      color: var(--color-text-dark);
      font-family: var(--secondary-font);
    }
 
    #unsubscribe {
      .form-input {
        border-radius: 8px;
        border: 1px solid var(--color-gray);
        background: var(--color-white, #FFF) !important;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;

      }

      .form-actions {
        width: 100%;

        button {
          @include typography(text-md, medium);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          width: fit-content;
          background: var(--color-primary);
          color: var(--color-white);
        }
      }
    }
  }
}