<div class="benefits">
    {% for benefit in product.all_benefits %}
        <div class="benefit">
        {% if iterationCount == 1 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M15.1721 4.853C15.1721 5.875 13.7481 6.706 11.9951 6.706C10.2431 6.706 8.81906 5.875 8.81906 4.853C8.81906 3.831 10.2491 3 11.9951 3C13.7431 3 15.1721 3.831 15.1721 4.853ZM15.1721 19.147C15.1721 20.169 13.7481 21 11.9951 21C10.2431 21 8.81906 20.169 8.81906 19.147C8.81906 18.125 10.2491 17.294 11.9951 17.294C13.7431 17.294 15.1721 18.125 15.1721 19.147ZM7.41606 9.432C8.31606 7.882 8.32106 6.202 7.43706 5.695C6.54706 5.181 5.10706 6.028 4.20706 7.579C3.30706 9.131 3.30706 10.809 4.18706 11.317C5.07706 11.825 6.51606 10.983 7.41606 9.432ZM19.7951 12.678C20.6851 13.181 20.6791 14.827 19.7851 16.352C18.8851 17.876 17.4391 18.702 16.5551 18.199C15.6601 17.696 15.6651 16.049 16.5601 14.525C17.4601 13.001 18.9051 12.175 19.7951 12.678ZM7.44306 18.21C8.33206 17.707 8.32706 16.06 7.42706 14.536C6.53206 13.011 5.08706 12.186 4.19706 12.688C3.30306 13.196 3.30706 14.838 4.20706 16.362C5.10306 17.887 6.54706 18.718 7.43706 18.215L7.44306 18.21ZM19.7931 7.585C20.6931 9.135 20.6931 10.809 19.8101 11.317C18.9261 11.831 17.4801 10.989 16.5801 9.432C15.6901 7.882 15.6801 6.208 16.5641 5.7C17.4541 5.186 18.8941 6.028 19.7941 7.585" fill="#FFD621"/>
</svg>
        {% else %}
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M15.1721 4.853C15.1721 5.875 13.7481 6.706 11.9951 6.706C10.2431 6.706 8.81906 5.875 8.81906 4.853C8.81906 3.831 10.2491 3 11.9951 3C13.7431 3 15.1721 3.831 15.1721 4.853ZM15.1721 19.147C15.1721 20.169 13.7481 21 11.9951 21C10.2431 21 8.81906 20.169 8.81906 19.147C8.81906 18.125 10.2491 17.294 11.9951 17.294C13.7431 17.294 15.1721 18.125 15.1721 19.147ZM7.41606 9.432C8.31606 7.882 8.32106 6.202 7.43706 5.695C6.54706 5.181 5.10706 6.028 4.20706 7.579C3.30706 9.131 3.30706 10.809 4.18706 11.317C5.07706 11.825 6.51606 10.983 7.41606 9.432ZM19.7951 12.678C20.6851 13.181 20.6791 14.827 19.7851 16.352C18.8851 17.876 17.4391 18.702 16.5551 18.199C15.6601 17.696 15.6651 16.049 16.5601 14.525C17.4601 13.001 18.9051 12.175 19.7951 12.678ZM7.44306 18.21C8.33206 17.707 8.32706 16.06 7.42706 14.536C6.53206 13.011 5.08706 12.186 4.19706 12.688C3.30306 13.196 3.30706 14.838 4.20706 16.362C5.10306 17.887 6.54706 18.718 7.43706 18.215L7.44306 18.21ZM19.7931 7.585C20.6931 9.135 20.6931 10.809 19.8101 11.317C18.9261 11.831 17.4801 10.989 16.5801 9.432C15.6901 7.882 15.6801 6.208 16.5641 5.7C17.4541 5.186 18.8941 6.028 19.7941 7.585" fill="#FFD621"/>
</svg>
        {% endif %}
        <div class="streamline">{{ benefit|markdown(false) }}</div>
        </div>
    {% endfor %}
</div>