<div class="benefits">
    {% for benefit in product.all_benefits %}
        <div class="benefit">
        {% if iterationCount == 1 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<path d="M13.5739 7.92109L8.69887 12.796C8.55262 12.9422 8.36063 13.0159 8.16864 13.0159C7.97666 13.0159 7.78467 12.9422 7.63842 12.796L5.20096 10.3585C4.90762 10.0653 4.90762 9.59129 5.20096 9.29809C5.49417 9.00474 5.96807 9.00474 6.26142 9.29809L8.16864 11.2053L12.5135 6.86063C12.8067 6.56729 13.2806 6.56729 13.5739 6.86063C13.8671 7.15384 13.8671 7.62774 13.5739 7.92109Z" fill="#181818"/>
</svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<path d="M13.5739 7.92109L8.69887 12.796C8.55262 12.9422 8.36063 13.0159 8.16864 13.0159C7.97666 13.0159 7.78467 12.9422 7.63842 12.796L5.20096 10.3585C4.90762 10.0653 4.90762 9.59129 5.20096 9.29809C5.49417 9.00474 5.96807 9.00474 6.26142 9.29809L8.16864 11.2053L12.5135 6.86063C12.8067 6.56729 13.2806 6.56729 13.5739 6.86063C13.8671 7.15384 13.8671 7.62774 13.5739 7.92109Z" fill="#181818"/>
</svg>
        {% endif %}
        <div class="streamline">{{ benefit|markdown(false) }}</div>
        </div>
    {% endfor %}
</div>