.features {
  padding: 60px 0;

  @include desktop-small {
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    align-self: stretch;
    position: relative;
    @include padding(padding-lg);

    @include desktop-small {
      @include padding(padding-sm);
      row-gap: 33px;
    }

    .features-header-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;

      @include desktop-small {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
      }

      .block-title {
        @include typography(display-md, 500);
        // opacity: 0;
        text-align: left;
        color: var(--color-text-dark);
        max-width: 688px;
        width: 100%;
        font-family: var(--secondary-font);

        @include desktop-small {
          text-transform: uppercase;
        }

        span {
          display: block;

          @include typography(display-xl, semibold);

          @include desktop-small {
            display: inline;
            @include typography(display-md, semibold);
          }
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        flex-basis: 30%;

        .features-section-description {
          p {
            color: var(--color-white);
            @include typography(text-lg, regular);
          }
        }
      }
    }

    .features-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .feature {
        max-height: 380px;
        border-radius: 22px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: background-color 0.4s ease, padding 0.4s ease;
        background-color: transparent;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.4s ease, border-radius 0.4s ease;
          border-radius: 0;
        }

        .feature-content {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 16px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
          color: white;
          transition: all 0.4s ease;

          .feature-title {
            font-family: var(--secondary-font);
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
          }

          .feature-description {
            color: var(--color-text-light);
            display: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-top: 10px;
          }
        }

        &:hover {
          background-color: var(--color-primary);

          img {
            height: 190px;
            border-radius: 22px;
          }

          .feature-content {
            position: static;
            background: transparent;
            text-align: left;

            .feature-title {
              color: var(--color-text-dark);
            }

            .feature-description {
              display: block;
            }
          }
        }
      }
    }
  }
}
