.hero-section {
  background: var(--color-black);
  margin-top: -8.1rem;
  padding-top: 10rem;
  padding-bottom: 35rem;
  color: var(--color-white);

  background-image: url(../../images/hero-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include desktop-lg {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom: 46rem;
  }

  @include desktop-small {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom: 48rem;
  }

  @include tablet {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom: 44rem;
  }

  @include md-mobile {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom: 33rem;
  }

  @include mobile {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom: 38rem;
  }


    .hero-wrapper {     

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .text-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include desktop-small {
          padding: 0 1rem;
        }

        .hero-title {
          color: var(--color-white);
          font-family: var(--secondary-font);
          @include typography('display-xxl', 'semibold');
          margin-bottom: 20px;

          @include desktop-small {
            @include typography('display-md', 'bold');
          }

          span {
            display: block;
            @include typography('display-lg', 'medium');

            @include desktop-small {
              @include typography('display-xm', 'medium');
            }
          }
        }

        p {
          @include typography('text-lg', 'regular');
          margin-bottom: 40px;
          max-width: 45%;
          @include desktop-small {
            max-width: 60%;
          }
          @include mobile {
            max-width: 100%;
          }
        }

        .hero-btn {
          color: var(--color-white);
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: var(--color-primary);
          padding: 0px 4px 0px 20px;
          border-radius: 30px;
          width: 235px;
          height: 54px;
        }
      }

      .image-contents {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -148px;

        @include tablet {
          bottom: 22px;
        }


        .hero-img-for-desktop {
          width: 100%;

          @include desktop-small {
            display: none;
          }

          @include tablet {
            display: none;
          }

          @include md-mobile {
            display: none;
          }

          @include mobile {
            display: none;
          }
        }

        .hero-img-for-mobile {
          display: none;
          width: 100%;

          @include desktop-small {
            display: block;
          }

          @include tablet {
            display: block;
          }

          @include md-mobile {
            display: block;
          }

          @include mobile {
            display: block;
          }


        }
      }
    }

}