.hero-section {
  background: var(--color-black);
  padding: 80px 0 58px;
  color: var(--color-white);

  // background-image: url(../../images/hero-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;


  @include desktop-small {
    padding: 3.75rem 0;
  }


    .hero-wrapper {     

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 58px;

      @include tablet{
        gap: 34px;
      }

      .text-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        @include tablet{
          gap: 18px;
        }

        .hero-title {
          color: var(--color-white);
          font-family: var(--secondary-font);
          @include typography('display-xl', 'bold');
          max-width: 80%;

          @include desktop-small {
            @include typography('display-sm', 'bold');
            max-width: 100%;
          }

          span {
            display: block;
            @include typography('display-lg', 'medium');

            @include desktop-small {
              @include typography('display-xm', 'medium');
            }
          }
        }

        p {
          @include typography('text-lg', 'regular');
          margin-bottom: 10px;
          max-width: 37%;

          @include desktop-small {
            max-width: 50%;
          }

          @include tablet {
            @include typography('text-md', 'regular');
            max-width: 100%;
            margin-bottom: 2px;
          }
        }

        .hero-btn {
          
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 6px;

          span{
            @include typography('text-md', 'extra_bold');
            color: var(--color-text-dark);
            background: var(--color-primary);
            padding: 12px 22px;
            border-radius: 22px;

            @include desktop-small{
              @include typography('text-sm', 'extra_bold');
            }
          }
        }
      }

      .image-contents {
        width: 100%;


        .hero-img-for-desktop {
          width: 100%;

          @include tablet {
            display: none;
          }

        }

        .hero-img-for-mobile {
          display: none;
          

          @include tablet {
            display: block;
            width: 100%;
          }

        }
      }
    }

}