.offer {
  display: flex;
  padding: 85px 0;
  align-items: center;
  align-self: stretch;
  // background-color: var(--color-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  

  @include desktop-small {
    padding: 80px 0 156px;
  }

  .left_center{
    position: absolute;
    top: 46%;
    left: -4%;

    @include desktop-small {
      display: none;
    }
  }

  .right_bottom{
    position: absolute;
    bottom: -13%;
    right: -1%;

    @include desktop-small {
      display: none;
    }

  }

  .container {
    display: flex;
    @include padding(padding-lg);
    justify-content: center;
     

    @include mobile {
      width: 100%;
    }

    @include desktop-small {
      flex-direction: column;
      align-items: flex-start;
      @include padding(padding-sm);
    }

    .offer-text {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      gap: 1.25rem;
      max-width: 100%;
     
      @include desktop-small {
        align-items: flex-start;
        text-align: left;
        max-width: 100%;
        gap: 34px;
      }

      .offer-title {
        @include typography(display-lg, semibold);
        font-family: var(--secondary-font);
        max-width: 67%;

        @include desktop-small{
          @include typography(display-md, semibold);
          max-width: 100%;
        }
      }

      p {
        @include typography(text-xl, regular);
        max-width: 50%;
        margin-bottom: 14px;

        @include desktop-small {
          max-width: 100%;
          @include typography(text-md, regular);
          margin-bottom: 0;
        }

      }

      .button{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 6px;
        background: transparent;
        padding: 0;

        span{
          @include typography('text-md', 'extra_bold');
          color: var(--color-text-dark);
          background: var(--color-primary);
          padding: 12px 22px;
          border-radius: 22px;

          @include desktop-small{
            @include typography('text-sm', 'extra_bold');
          }
        }
      }
      
    }

  }
}


