.text-left {
  padding: 80px 0;
  background: var(--color-secondary);

  @include desktop-small {
    padding: 60px 0 !important;
  }
}

.text-left.paragraph {
  .text-left-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    color: var(--text-text);

    @include desktop-small {
      flex-direction: column-reverse;
    }
    .paragraph-text {
      @include desktop-small {
        text-align: center;
      }
    }

    .paragraph-image {
      max-width: unset;
      flex: 1;
      align-self: stretch;

      @include desktop-small {
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .text-left-text {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      @include desktop-small {
        padding: 0px;
        text-align: start;
      }

      h3 {
        font-family: var(--secondary-font);
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -0.96px;
        margin-bottom: 24px;

        @include desktop-small {
          font-size: 40px;
          line-height: 50px;
        }
        @include mobile {
          font-size: 30px;
          line-height: 38px;
        }
      }

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        
      }
    }
  }
}
